<!DOCTYPE html>
<html>
  <head>
    <title> title</title>
    </head>
  <body>
   
    <h1>title</h1>
    <p>Welcome to</p>

    <b>List work</b> <br>
    Form by 60310075  => <a href="te.ejs">คลิ้ก</a>
    <br>
    Form validation by 60310075 => <a href="https://manussawee.herokuapp.com/te">Validation</a> 
  </div>
  </body>
</html>
